.card {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* border: 2px #4ab3aa solid; */
  align-content: center;
  margin: 0 auto 50px;
  box-shadow: 5px 5px 10px 10px #efefef;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

.card-header {
  height: 30%;
  color: #026a83;
  text-align: center;
  font-weight: 500;
  border-bottom: 5px solid #efefef;
  border-width: thin;
}

.card-header p {
  font-size: 20px;
  letter-spacing: 2px;
}
.container {
  padding: 20px 16px;
  text-align: left;
}

.container strong {
  /* color: red */
  font-weight: 400;
  display: flex;
  margin: 0 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.container span {
  font-weight: 500;
  font-size: 18px;
}

button {
  background: dodgerblue;
  font-size: 18px;
  margin: 0
}
